article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:  center;
}

.pointer {cursor: pointer;}

h2 {
    font-size: 60px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff; 
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    
    font-size: 130px;
    padding-top: 20%;
    padding-bottom: 15px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
}

h1:hover {
    color: #00FF99;
}

article a {
    text-decoration: none;
    color: #fff;
    margin-top: 0;
    font-size: 50px;
    font-family: 'IBM Plex Mono', monospace;
    
}

#bg {
      position: fixed;
     width: 100%;
      background-size: cover;
      z-index: -1;
}


html {
    background-color: #000;
    
}



.page1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#one {
    font-size: 60px;
    padding-top: 14%;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    margin-bottom: 0;
    
}

#two {
    font-size: 60px;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    margin-top: 15px;
}



#index1 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 1513px;
    bottom: 124px;

}

#index2 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 309px;
    top: 120px;

}

#index3 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
   top: 372px;
    left: 110px;;

}

#index4 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1449px;
    top: 285px;

}

#index5 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 104px;
    left: 817px;

}

#index6 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 900px;
    top: 696px;

}

#index7 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
     left: 1508px;
    bottom: 163px;

}

#index8 {
     width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 462px;
    bottom: 706px;

}
    


#bell1 {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 390px;
   
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bell2 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 133px;
    bottom: 124px;
}

#bell2:hover {
    height: 250px;
    width: 250px;
     animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#bell3 {
    width: 227px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 484px;
    top: 31px;
}


#bell4 {
    width: 250px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 372px;
    left: 100px;
}



#bell5 {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1359px;
    top: 156px;
}



#bell6 {
    width: 350px;
    height: 350px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 984px;
}



#bell7 {
    width: 250px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 900px;
    top: 588px;
}



/* page 2 */


#radio1 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 1040px;
    top: -539px;
}


#radio2 {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50px;
    top: 394px;
}


@keyframes heartbeat {
  0% {transform: scale( .75 );}
  20% {transform: scale( 1 );}
  40% {transform: scale( .75 );}
  60% {transform: scale( 1 );}
  80% {transform: scale( .75 );}
  100% {transform: scale( .75 );}
}

#radio3 {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 565px;
    top: 40px;
}


#radio4 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1435px;
    top: 295px;
}


#radio5 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1400px;
    bottom: 163px;
}


#radio6 {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 800px;
    bottom: 30px;
}

#radio6:hover {
    animation: heartbeat .3s;
    animation-iteration-count: infinite;
}

#radio7 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 210px;
    top: 162px;
}

#instrument1 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 390px;
    top: -538px;
   
}


@-webkit-keyframes pulsate {
    0% { width:350px;height: 350px; opacity: 0.0}
    10% { width:353px;height: 353px; opacity: .20}
    20% { width:355px;height: 355px; opacity: .40 }
    30% { width:357px;height: 357px; opacity: .60 }
    40% { width:359px;height: 359px; opacity: .80 } 
    50% { width:361px;height: 361px; opacity: 1.0}
    60% { width:363px;height: 363px; opacity: .80}
    70% { width:365px;height: 365px;  opacity: .60}
    80% { width:367px;height: 367px;  opacity: .40}
    90% { width:369px;height: 369px;  opacity: .20}
    100% { width:371px;height: 371px;  opacity: 0.0}
 }

#instrument2 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 81px;
    top: 334px;
}


#instrument3 {
    width: 350px;
    height: 350px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1365px;
    top: 135px;
}

#instrument3:hover {
    width: 350px;
    height: 350px;
    padding: 0;
    margin: 0;
     animation-name: pulsate;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
}

#instrument4 {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1045px;
    top: 87px;
}

#instrument5 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1400px;
    bottom: 163px;
}


#instrument6 {
    width: 280px;
    height: 280px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 800px;
    bottom: 30px;
}


#instrument7 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 328px;
    top: 745px;
}


#phone1 {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 390px;
    top: -509px;
}


@keyframes rotating {
    0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
    100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

#phone2 {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 281px;
}

#phone2:hover {
    animation: rotating 2s linear;
    animation-iteration-count: infinite;
}


#phone3 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1028px;
    top: 40px;
}


#phone4 {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1358px;
    top: 93px;
}


#phone5 {
    width: 350px;
    height: 350px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1285px;
    bottom: 76px;
}



#phone6 {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 419px;
    bottom: 30px;
}



#phone7 {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 842px;
}




   